.main {
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color;
    margin: $default-margin;
    padding: $default-padding;
    margin-top: $margin-top-size;
    margin-bottom: $margin-bottom-size; 

  }

