//Post Colors
$hashtags-color: #1d86c3;
$shadow-color: rgba(0, 0, 0, 0.1);
$text-color: rgb(60, 56, 56);
$button-color: rgb(198, 80, 80);
$comments-color: #878282;
$favorite-color: white;
$favorite-text-shadow: 2px 2px 2px rgba(79, 68, 124, 0.386);

//Post Sizes
$post-border-radius: 4px;
$post-backdrop-filter-blur: 2rem;
$post-padding: 16px;
$post-max-width: 500px;
$post-width: 90%;
$post-margin-bottom: 0.5%;

$name-font-size: 18px;
$name-font-weight: bold;

$img-max-width: 700px;
$img-max-height: 500px;
$img-margin-bottom: 8px;
$img-border-radius: 2%;

$description-hashtags-font-size: 15px;
$description-hashtags-margin-left: 9px;
$description-line-height: 1.3;

$info-justify-content: space-between;

$button-font-size: 20px;
$button-cursor: pointer;

$comments-margin-top: 5px;
$icon-margin-right: 5px;

$userIcon-width: 32px;
$userIcon-height: 32px;
$userIcon-border-radius: 50%;
$userIcon-margin-right: 10px;

//Layout Variables

$primary-color: #8f94ba;
$secondary-color: #ACB1D6;
$background-color: #DBDFEA;
$text-color: black;
$font-family: "Montserrat Alternates", sans-serif;
$margin-top-size: 80px; 
$margin-bottom-size: 12%; 
$default-margin : 0;
$default-padding: 0px;

//NavBar Variables
$nav-text-color: white;
$navbar-padding: 0.5%;






